{% extends 'userauths/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title mt-5">Add Product</h3> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form class="add room" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="row formtype">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{form.user | as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{form.category | as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{form.title | as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{form.selling_price | as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{form.discounted_price | as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{form.product_image | as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                               {{form.brand | as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{form.description | as_crispy_field}}
                            </div>
                        </div>
                    </div>
                        <a href="{% url 'userauths:productlist' %}"><button type="submit" class="btn btn-primary buttonedit ml-2">Save</button></a>
                        <a href="{% url 'userauths:productlist' %}"><button type="button" class="btn btn-primary buttonedit">Cancel</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}