{% extends 'userauths/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center py-3 mt-5">
                    <h5 class="modal-title">Personal Details</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="row form-row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{ user_form.first_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{ user_form.last_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{ user_form.phone_number|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{ form.bio|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    {{ form.address|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{ form.state|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{ form.city|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{ form.zipcode|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{ form.profile_picture|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
