{% extends 'userauths/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">All Orders</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-5 offset-1 d-flex justify-content-center">
                            <form method="GET" action="">
                                <div class="input-group">
                                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body booking_card">
                <div class="table-responsive">
                    <table class="datatable table table-stripped table table-hover table-center mb-1">
                        <thead class="table-primary">
                            <tr>
                                <th>Order ID</th>
                                <th>Billing Name</th>
                                <th>Phone Number</th>
                                <th>Order Total</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in orders %}
                            <tr>
                                <td>{{payment.order_id}}</td>
                                <th>{{payment.orderproduct.Order.first_name}} {{payment.orderproduct.Order.last_name}}</td>
                                <td>{{payment.orderproduct.Order.phone_number}}</td>
                                <td>{{payment.orderproduct.total_amount}}</td>
                                <td>{{payment.made_on}}</td>
                                <td>
                                    <a href="{% url 'userauths:invoicedetail' payment.id %}"><button type="button" class="btn btn-warning">View Details</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}